body {
    font-family: $fuente-principal;
    background-color: $color-principal;
    color: $color-negro;
    line-height: 1.6;
    margin: 0;
    padding: 0;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: $color-negro;
  }
  
  a {
    color: $color-secundario;
    text-decoration: none;
    @include transicion-suave(color);
  
    &:hover {
      color: $color-acento;
    }
  }
  